@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


.diary-by-id-cont{
    height: 100vh;
    overflow: scroll;
    background: #0e0e11;

}

.diary-by-id-cont h1{
    font-family: "Goldman";
    font-weight: 300;
    color: #4b0ccb;
}

