
.venv
backend/env/
**/__pycache__/
**/*.pyc
.vscode/
.DS_Store
Thumbs.db
.env
*.env
backend/sa.b64.txt
*.b64.txt
*.db
*firebase-adminsdk*.json
gymdatabase-129e2-firebase-adminsdk-fbsvc-f4d145d2ff.json

