@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Oxanium:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');


.login-container {
    background-color: #0e0e11;
    height: 100vh;
    position: fixed;
    
    width: 100%;
}

.login-cont {
    width: 100%;
    margin-top: 30%;
    
    

}

.login-cont h1 {
    
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding-top: 30px;
    color: #9732fd;
    font-size: 3rem;
    font-family: "Goldman";
    font-weight: 400;
}
.login-cont h2{
    text-align: center;
    color: aliceblue;
    font-size: 1.3rem;
    margin-bottom: 40px;
    font-family: "Space Grotesk";

}

.login-margin input {
    width: 85%;
    margin-left: 6%;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
    
    border-radius: 6px;
    border-style: none;
    padding-left: 10px;
    background-color: #242424;
    transition: all 0.5s ease-in-out;
    border: 1px solid #554a57;
    
}


    

.login-input-title {
    margin-top: 0px;
    font-size: 1.16rem;
    margin-left: 7%;
    color: aliceblue;
    font-family: "Space Grotesk";
}

.login-margin input:focus {
    outline: none; /* eltünteti a kék keretet */
    padding: 5px; /* halvány háttérszín */
}

.login-link {
    text-align: center;
    text-decoration: underline;
    color: azure;
    

}

.login-button {
    display: block;
    margin: 30px auto;
    height: 35px;
    width: 87.5%;
    border-style: none;
    background-color: #9732fd;
    color: rgb(255, 255, 255);
    border-radius: 6px;

}

.login-tilte-error{
    display: flex;
}

.login-error{
    margin-left: 20%;
    font-size: 1rem;
    color: rgb(163, 0, 0)


}

.login-error-username{
    margin-left: 8%;
    font-size: 1rem;
    color: rgb(163, 0, 0);
    margin-top: 3px;
    

}


@media  (min-width: 700px) {
    .login-cont {
        margin-top: 10% !important;
   
    }
}


@media  (min-width: 1100px) {
    .login-cont {
        margin-top: 5% !important;
   
    }

    .login-cont input{
    width: 15%;
    margin-left: 42.5%;

}
.login-cont button{
    width: 15.5%;
    margin-left: 42.5%;


}
.login-input-title{
    margin-top: 0px;
    font-size: 1.16rem;
    margin-left: 42.5%;
    color: aliceblue;
    font-family: "Space Grotesk";
}

}