@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');


.landing-container {
    height: 100vh;
    background: #0e0e11;
    display: flex;
    flex-direction: column;         
    justify-content: center;       
    align-items: center;            
    position: relative;        
}

.landing-login{
    position: absolute;             
    top: 20px;                     
    right: 20px;
    padding: 10px;
    border: solid 1px #9732fd;
    background-color: transparent;
    color: #9732fd;
    border-radius: 10px;
    font-weight: bold;

                       
}

.landing-cont {
    text-align: center;            
}

.landing-cont h1{
    color: #9732fd;
    font-size: 3.3rem;
    font-family: "Goldman";
    font-weight: 300;
    margin-top: -90px;
}
.landing-cont h2{

    color:white;
    font-size: 1.5rem;

}

.landing-cont p{
    color: white;
    font-size: 0.9rem;
    margin-top: 5px;
    
}

.landing-cont button{
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background-color: #9732fd;
    color:aliceblue;
    border-style: none;
    transition: all 0.5s ease-in-out;
   

}


.landing-cont button:hover{
    background-color: #7d04f6;
    color: aliceblue;
    -webkit-box-shadow:0px 0px 46px 27px rgba(56,59,58,0.28);
    -moz-box-shadow: 0px 0px 46px 27px rgba(56,59,58,0.28); 
    box-shadow: 0px 0px 46px 27px rgba(56,59,58,0.28);
  

}


